.contacts_input_in_page {
    margin-top: 30px;
}

.contacts_input_in_page p {
    margin: 10px 0;
}

.contacts_input_in_page h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.yoast-breadcrumbs {
    margin-bottom: 30px;
}

.text_styles a{
    color:#4B6E36;
}

